* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1110px;
}

.title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}

.text {
  font-weight: 400;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  color: #999999;
}

.button {
  background-color: #4985FF;
  color: #fff;
  padding: 13px 36px 15px;
  border-radius: 30px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.welcome-screen {
  background: url("../img/Rectangle.jpg") no-repeat;
  background-size: cover;
}

.header {
  border-bottom: #afadad solid 1px;
}

.header-menu {
  padding: 40px 0 30px 0;
  display: flex;
  justify-content: end;
}

.list-link {
  margin: 0 40px 0 0;
}
.list-link:last-child {
  margin: 0;
}

.header-link {
  color: #fff;
  line-height: 19.5px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.welcome-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 220px 0 335px;
}

.welcome-screen-text {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0 0 20px;
}

.welcome-screen-title {
  color: #fff;
  text-align: center;
  margin: 0 0 50px;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  padding: 0 50px;
}

.mobile-app {
  background-color: #fff;
  justify-content: center;
  text-align: center;
  padding: 110px 0 105px;
}

.mobile-app-title {
  margin: 0 0 50px;
  padding: 0 160px;
}

.mobile-app-text {
  margin: 0 0 70px;
  padding: 0 180px;
}

.mobile-app-card {
  margin: 0 0 55px;
}

.item-card {
  display: flex;
  align-items: baseline;
  text-align: left;
}

.card-logo {
  margin: 0 17px 0 0;
}

.circle1-logo {
  border-radius: 50%;
  border: #E0E0E0 solid 1px;
  width: 110px;
  height: 110px;
  padding: 10px;
}

.circle2-logo {
  border-radius: 50%;
  border: #4985FF solid 1px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  margin: 0 0 12px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.standards {
  background-color: #ebebeb;
  padding: 100px 0 70px;
}

.standards-info {
  border-bottom: #afadad solid 1px;
  padding: 0 0 90px;
}

.standards-article {
  padding: 52px 105px 0 0;
}

.standards-title {
  margin: 0 0 40px;
}

.standards-text {
  margin: 0 0 30px;
}

.standards-img {
  width: 500px;
  height: 400px;
}

.standards-links {
  padding: 70px 0 0 0;
}

.mini-card {
  display: flex;
  align-items: center;
}

.mini-card-img {
  width: 30px;
  height: 26px;
  margin: 0 20px 0 0;
}

.mini-card-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  margin: 0;
}

.our-works {
  padding: 100px 0 85px;
  background: linear-gradient(180deg, #504DC2 50%, #FFF 50%);
}

.button-our-works {
  display: flex;
  justify-content: end;
  align-items: center;
}

.our-works-cards {
  border-bottom: #E0E0E0 solid 1px;
  padding: 70px 0 85px;
}

.our-works-card-img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 30px;
}

.our-works-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 30px;
}

.our-works-card-title-first {
  color: #4985FF;
}

.our-works-card-text {
  margin: 0 0 30px;
}