* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 5% 0 5%;
}

.first-scrin {
  background: url("../css/Rectangle.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  border-bottom: #afadad solid 1px;
}

.header-menu {
  color: #fff;
  padding: 2% 0 2% 0;
  font-weight: 500;
  text-align: center;
}

.first-scrin-subtitle {
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 15% 0 2% 0;
}

.first-scrin-title {
  color: #fff;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 48px;
}

.title-small {
  font-weight: 600;
}

.first-scrin-button {
  justify-content: center;
}

.button {
  background-color: #4985FF;
  color: #fff;
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.mobile-app {
  background-color: #fff;
}

.mobile-app-title {
  justify-content: center;
  text-align: center;
  margin: 10% 0 4% 0;
}

.mobile-app-text {
  justify-content: center;
  text-align: center;
  margin: 0 0 5% 0;
}

.text {
  font-weight: 400;
}

.mobile-app-card {
  margin: 0 0 4% 0;
}

.item-card {
  display: flex;
  align-items: baseline;
}

.card-logo {
  margin: 0 17px 0 0;
}

.curcle1 {
  border-radius: 50%;
  border: #E0E0E0 solid 1px;
  width: 110px;
  height: 110px;
  padding: 10px;
}

.curcle2 {
  border-radius: 50%;
  border: #4985FF solid 1px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-app-button {
  justify-content: center;
}