.our-projects {
    background-color: $background-grey;
    padding: 50px 15px 60px;
}

.our-projects-img {
    max-width: 255px;
    max-height: 255px;
    border-radius: 10px;
    overflow: hidden;
}

.see-more-hidden {
    display: none;
}

.see-more-view {
    display: flex;
}
