.standards {
    background-color: $background-grey;
    padding: 50px 15px 35px;
}

.standards-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.mini-card-img {
    background-image: url('../img/web-programming.png');
    background-repeat: no-repeat;
    background-size: 30px 27px;
    background-position: center center;
    width: 30px;
    height: 26px;
    margin: 0 20px 0 0;
}
