.subscribe {
    padding-top: 100px;
    padding-bottom: 45px;
}

.subscribe-form {
    width: 100%;
}

.subscribe-input {
    padding: 13px 36px 15px;
    border-radius: 30px;
    width: 100%;
    border: $grey solid 1px;
    margin-bottom: 20px;
}
