.welcome-screen {
    background: url('../img/Rectangle.jpg') no-repeat;
    background-size: cover;
}


.header {
    border-bottom: $background-grey solid 1px;
}

.welcome-screen-content {
    padding: 100px 15px;
}


.navbar-toggler {
    background-color: transparent;
    border: 1px solid $grey;
    border-radius: 5px;

    .icon {
        width: 30px;
        height: 30px;
        background-image: repeating-linear-gradient(transparent, $black 10%, transparent 20%);
    }
}



.optional-menu {
    display: none;
}


.nav-link {
    color: $white;

    &:hover {
        color: $white;
    }
}


@media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    .optional-menu {
        display: block;
    }
}
