@import 'nullstyle';

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1110px;
}

.title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #FFF;
}

.text {
    font-weight: 400;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    color: #999999;
}

.button {
    background-color: #4985FF;
    color: #fff;
    padding: 13px 36px 15px;
    border-radius: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.welcome-screen {
    background: url('../img/Rectangle.jpg') no-repeat;
    background-size: cover;
}

.header {
    border-bottom: #afadad solid 1px;
}

.header-menu {
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: end;
}

.list-link {
    margin: 0 40px 0 0;

    &:last-child {
        margin: 0;
    }
}

.header-link {
    color: #fff;
    line-height: 19.5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.welcome-screen-content {
    padding: 220px 0 335px;
}

.welcome-screen-text {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;

    & .text {
        color: #FFF;
    }
}

.welcome-screen-title {
    text-align: center;
    margin: 0 0 50px;

    & .title {
        color: #fff;
        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
    }
}

.welcome-screen-button {
    display: flex;
    justify-content: center;
}



.mobile-app {
    background-color: #fff;
    justify-content: center;
    text-align: center;
    padding: 110px 0 105px;
}

.mobile-app-title {
    margin: 0 0 50px;

    & .title {
        color: #000;
    }
}


.mobile-app-text {
    margin: 0 0 70px;

}



.mobile-app-card {
    margin: 0 0 55px;
}

.item-card {
    display: flex;
    align-items: baseline;
    text-align: left;
}

.card-logo {
    margin: 0 17px 0 0;
}

.circle1-logo {
    border-radius: 50%;
    border: #E0E0E0 solid 1px;
    width: 110px;
    height: 110px;
    padding: 10px;
}

.circle2-logo {
    border-radius: 50%;
    border: #4985FF solid 1px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    margin: 0 0 12px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;

}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}


.standards {
    background-color: #ebebeb;
    padding: 100px 0 70px;
}


.standards-info {
    border-bottom: #afadad solid 1px;
    padding: 0 0 90px;
}

.standards-article {
    padding: 52px 105px 0 0;
}

.standards-title {
    margin: 0 0 40px;
    color: #000;
}

.standards-text {
    margin: 0 0 30px;
}

.standards-img {
    width: 500px;
    height: 400px;
}


.standards-links {
    padding: 70px 0 0 0;
}

.mini-card {
    display: flex;
    align-items: center;
}

.mini-card-img {
    width: 30px;
    height: 26px;
    margin: 0 20px 0 0;
}

.mini-card-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    margin: 0;
}


.our-works {
    padding: 100px 0 85px;
    background: linear-gradient(180deg, #504DC2 50%, #FFF 50%);
}



.button-our-works {
    display: flex;
    justify-content: end;
    align-items: center;
}

.our-works-cards {
    border-bottom: #E0E0E0 solid 1px;
    padding: 70px 0 85px;
}


.our-works-card-img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 30px;
}

.our-works-card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px;
}

.our-works-card-title-first {
    color: #4985FF;
}

.our-works-card-text {
    margin: 0 0 30px;
}

.our-projects {
    background-color: #ebebeb;
    padding: 100px 0 130px;
}

.our-projects-title {
    display: flex;
    justify-content: center;
    margin: 0 0 50px;

    & h2 {
        color: #000;
    }
}

.our-projects-text {
    margin: 0 0 70px;
}

.our-projects-img {
    width: 255px;
    height: 255px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 50px;
}

.our-video {
    padding: 70px 0 85px;
    background: url('../img/Rectangle.jpg') no-repeat;
    background: linear-gradient(180deg, url('../img/Rectangle.jpg') no-repeat 50%, #FFF 50%);
    background-size: cover;

}

.video-title {
    display: flex;
    justify-content: center;
    margin: 0 0 50px;
}

.video-text {
    margin: 0 0 70px;
    display: flex;
    justify-content: center;

    & p {
        color: #FFF;
    }
}

.video-board {
    width: 970px;
    height: 430px;
}


.form-title {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;


    & h3 {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
}

.form-text {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;

    & .text-under-button {
        font-size: 13px;
        line-height: 21px;
    }
}

.form-input {
    display: flex;
    justify-content: center;
    margin: 0 0 35px;

    & form {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    & input {
        padding: 13px 36px 15px;
        border-radius: 30px 0 0 30px;
        width: 100%;
    }
}

.button-form {
    border-radius: 0 30px 30px 0;
}

.footer {
    background-color: #ebebeb;
    padding: 70px 0 30px;
}


.footer-card {
    & .title {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 35px;
    }

    & li {
        margin: 0 0 30px;
    }

    & a {
        color: #999999;

    }



}

.mail {
    & ::before {
        content: url('../img/envelope.png');
        width: 15px;
        height: 13px;
        padding: 0 5px 0 0;
    }
}

.phone {
    & ::before {
        content: url('../img/Group.png');
        width: 15px;
        height: 13px;
        padding: 0 5px 0 0;
    }
}

.address {
    & ::before {
        content: url('../img/placeholder.png');
        width: 15px;
        height: 13px;
        padding: 0 5px 0 0;
    }
}

.footer-link {
    & ::before {
        content: url('../img/arrow.png');
        width: 15px;
        height: 13px;
        padding: 0 5px 0 0;
    }
}

.copyright {
    margin: 30px 0 0;
}